<!-- Button trigger modal -->
<div class="ms-auto" style="width:fit-content;"><a href="" class="details ms-5 text-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{task.id}}">View details</a></div>

<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h1 class="modal-title text-light fs-5" id="exampleModalLabel">{{task.category}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Detail : {{task.details}}</p>
        <p>Date : {{task.task_date}}</p>
        <p>Time : {{task.task_time}}</p>
      </div>
      <div class="modal-footer">
          <label for="done">Mark as read</label>
          <div style="width:fit-content"><input type="checkbox" id="{{task.id}}" name="done" class="checkboxes mt-4 me-3" title="Mark as read"></div>
          <label for="delete">Delete</label>
          <i class="fa-solid fa-trash text-danger delete" id="{{task.id}}" title="Delete task" data-bs-dismiss="modal" name="delete"></i>
        
      </div>
    </div>
  </div>
</div>
<script>
  var tasks = document.querySelectorAll('.delete')
  tasks.forEach(element=>{
    element.addEventListener('click', 
    async function delete_task(){
      const api = await fetch(`https://doday.up.railway.app/api/${element.id}`, {
        method: 'DELETE'
      })

      task_container.forEach(task => {
        if(task.id == element.id){
          task.remove()
        }
      })

      const today_length = await fetch('https://doday.up.railway.app/api')
      const today_result = await today_length.json()
      document.querySelector('#task-length').innerHTML = `You have ${today_result.length} tasks todo today.`
    })
  })
</script>