<!-- Button trigger modal -->
<a href="" class="details ms-5 text-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{task.id}}">View details</a>

<!-- Modal -->
<div class="modal fade mt-5" id="exampleModal{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h1 class="modal-title text-light fs-5" id="exampleModalLabel">{{task.category}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Detail : {{task.details}}</p>
        <p>Date : {{task.task_date}}</p>
        <p>Time : {{task.task_time}}</p>
      </div>
      <div class="modal-footer">
        <div class="fit-content">
            <i class="fa-solid fa-trash text-danger delete" id="{{task.id}}" title="Delete task" data-bs-dismiss="modal" aria-label="Close"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var task_ = document.querySelector('.delete')
  task_.addEventListener('click', 
    async function delete_task(){
      const get_feedback = await fetch(`http://127.0.0.1:9000/api/${task_.id}`)
      const feedback = await get_feedback.json()
      const this_task = await fetch(`http://127.0.0.1:9000/api/${task_.id}`,{
        method : 'DELETE',
        headers: {
         'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          category: `${feedback.category}`, 
          details: `${feedback.details}`, 
          task_date: `${feedback.task_date}`, 
          task_time: `${feedback.task_time}`,
          status: `${feedback.status}`
      })
    })
    task_container.forEach(task => {
      if(task.id == task_.id){
        task.remove()
      }
    })
  })
</script>