<nav class="navbar navbar-expand bg-dark">
  <div class="container-fluid">
    
    {% if user.is_authenticated %}
    <a href="{% url 'todo-home' %}" class="navbar-brand text-light ms-5">To Do</a>
    {% else %}
    <a href="{% url 'todo-index' %}" class="navbar-brand text-light ms-5">To Do</a>
    {% endif %}
      
    
    <div id="navbarNav">
      <ul class="navbar-nav me-5">
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu shadow" style="margin-left:-3.5rem">
            
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'user-logout' %}">Log out</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'user-login' %}">Log in</a></li>
            <li><a class="dropdown-item" href="{% url 'user-register' %}">Register</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
    
  </div>
</nav>