{% extends 'base.html' %}


{% block main %}
  <div class="container-fluid  grid-items-center py-5">
    <form action="" method="POST" class="p-5 my-5 bg-light rounded shadow">
      {% csrf_token %}
      <input type="email" name="email" id="email" placeholder="E-mail">
      <input type="password" name="password" id="password" placeholder="Password">
      <input type="submit" value="Log In" class="btn btn-primary">
    </form>
    <p>Don't have an account? <a href="{% url 'user-register' %}">Register</a></p>
  </div>
{% endblock main %}
