{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block main %}
  <div class="container bg-light p-5 mt-5 rounded">
    <p class="display-5">Welcome
      
      {% if user.is_authenticated %}
        {{user|capfirst}}
      {% endif %}
        
    </p>
    <div class="d-flex justify-content-between align-items-baseline">   
        {% include 'partials/addmodal.html' %}
        <a href="{% url 'todo-home' %}" class="btn btn-primary">Today's Tasks</a> 
    </div>
    
    {% for task in tasks %}
    <div class="container bg-white rounded shadow task-container" id="{{task.id}}">
      <div class="row my-3 py-3">
        <div class="col-1"><input type="checkbox" id="{{task.id}}" class="checkboxes" title="Mark as read"></div>
        <div class="col-10">
          <div class="col-12 d-flex justify-content-between">
            <h6 class="text-dark">{{task.category}}</h6>
            <small class="text-secondary">{{task.task_date|naturalday|capfirst}} {{task.task_time}}</small>
          </div>
          <div class="col-12">
            <p class="text-justify">
              {{task.details|truncatechars:150}} 
            </p>
            <div class="ms-auto" style="width:fit-content">{% include 'partials/detailmodal.html' %}</div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    var checkboxes = document.querySelectorAll('.checkboxes')
    var task_container = document.querySelectorAll('.task-container')
    checkboxes.forEach(element=>{
      var url = `http://127.0.0.1:9000/api/${element.id}`
      async function task_status1(){
        const get_status = await fetch(url)
        const result = await get_status.json()
        element.checked = result.status
      }
      task_status1()

      element.addEventListener('click', 
      async function task_status(){
        const get_feedback = await fetch(url)
        const feedback = await get_feedback.json()
        const send_status = await fetch(url, {
          method: 'PUT',
          headers:{
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            category: `${feedback.category}`, 
            details: `${feedback.details}`, 
            task_date: `${feedback.task_date}`, 
            task_time: `${feedback.task_time}`,  
            status: element.checked})
        })
        const result = await send_status.json()
      })
    })
  </script>
{% endblock main %}
  