{% extends 'base.html' %}
{% load humanize %}

{% block main %}
  <div class="container bg-light p-5 mt-5 rounded">
    <p class="display-5">Welcome
      
      {% if user.is_authenticated %}
        {{user|capfirst}}
      {% endif %}
        
    </p>
    <p class="text-secondary" id="task-length"> You have {{tasks.count}} tasks todo today.</p>
    
    <div class="d-flex justify-content-between align-items-baseline"> 
        {% include 'partials/addmodal.html' %}
        <a href="{% url 'todo-all' %}" class="btn btn-primary">All tasks</a>
    </div>
    <div class="container-fluid">
      <div class="row">
        {% for task in tasks %}
        <div class="col-md-4 col-sm-12 task-container mt-4" id="{{task.id}}">
          <div class="card col-md-10 col-sm-12 mx-auto shadow">
            <div class="card-header d-flex justify-content-between bg-dark">
              <h6 class="text-light col-4">{{task.category}}</h6>
              <p class="text-secondary"><small>{{task.task_date|naturalday|capfirst}} {{task.task_time}}</small></p>
            </div>
            <div class="card-body">
              <p class="text-center">
                {{task.details|truncatechars:150}} 
              </p>
            </div>
            <div class="card-footer">
              {% include 'partials/detailmodal.html' %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    var checkboxes = document.querySelectorAll('.checkboxes')
    var task_container = document.querySelectorAll('.task-container')
    checkboxes.forEach(element=>{
      var url = `https://doday.up.railway.app/api/${element.id}`
      var url2 = 'https://doday.up.railway.app/api'
      element.addEventListener('click', 
      async function task_status(){
        const get_feedback = await fetch(url)
        const feedback = await get_feedback.json()
        const send_status = await fetch(url, {
          method: 'PUT',
          headers:{
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            category: `${feedback.category}`, 
            details: `${feedback.details}`, 
            task_date: `${feedback.task_date}`, 
            task_time: `${feedback.task_time}`, 
            status: element.checked
          })
        })
        const result = await send_status.json()
        if(result.status == true){
          task_container.forEach(task => {
            if(task.id == element.id){
              task.remove()
            }
          })
        }
        const today_length = await fetch(url2)
        const today_result = await today_length.json()
        document.querySelector('#task-length').innerHTML = `You have ${today_result.length} tasks todo today.`
      })
    })
  </script>

{% endblock main %}
  